<?xml version="1.0" encoding="UTF-8"?>
<section name="openFBI">
	<item value="false" key="showDetailedTooltip"/>
	<item value="" key="fullyQualified"/>
	<item value="17438" key="nodeId"/>
	<item value="false" key="openReferenceInNewWindow"/>
	<item value="false" key="drivedFacts"/>
	<item value="user" key="modulName"/>
	<item value="true" key="showGroups"/>
	<item value="testproject1" key="factbaseName"/>
	<item value="false" key="showArguments"/>
	<item value="false" key="showSLT"/>
</section>
